/* @font-face {
  font-family: "FuturaPT";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/FuturaPT-Bold.woff") format("woff"),
    url("../fonts/FuturaPT-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "FuturaPT";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FuturaPT-Book.woff") format("woff"),
    url("../fonts/FuturaPT-Book.woff2") format("woff2");
}

@font-face {
  font-family: "FuturaPT";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/FuturaPT-Light.woff") format("woff"),
    url("../fonts/FuturaPT-Light.woff2") format("woff2");
}

@font-face {
  font-family: "FuturaPT";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/FuturaPT-Medium.woff") format('woff'),
    url("../fonts/FuturaPT-Medium.woff2") format("woff2");
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "FuturaPT";
  background-image: url("./images/bg.png");
  background-repeat: no-repeat;
  background-color: #f9f9f9;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

img {
  display: block;
}

.container {
  min-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration-line: none;
}

.header-start {
  padding: 14px 0 10px 165px;
}

.head-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-list {
  display: flex;
  align-items: center;
}

.item-link {
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: color 0.2s linear;
}

.tel:hover {
  color: #ffbd54;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tel:active {
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.6;
}

.head-item:first-child::before {
  content: "";
  display: inline-block;
  margin-right: 9px;
  width: 14px;
  height: 13px;
  background-image: url("./images/home.svg");
  background-repeat: no-repeat;
}


.tel-list:before {
  content: "";
  display: inline-block;
  margin-right: 9px;
  width: 14px;
  height: 13px;
  background-image: url("./images/phone.svg");
  background-repeat: no-repeat;
}

.tel-item:first-child::after {
  content: "";
  display: inline-block;
  margin: 0 9px;
  width: 4px;
  height: 5px;
  background-image: url("./images/round.svg");
  background-repeat: no-repeat;
}

.tel-item:nth-child(2):after {
  content: "";
  display: inline-block;
  margin: 0 9px;
  width: 4px;
  height: 5px;
  background-image: url("./images/round.svg");
  background-repeat: no-repeat;
}

.schedule-list::before {
  content: "";
  display: inline-block;
  margin-right: 7px;
  width: 14px;
  height: 14px;
  background-image: url("./images/schedule.svg");
  background-repeat: no-repeat;
}

.schedule-item {
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.schedule-item:first-child {
  margin-right: 17px;
}

.header-end {
  position: relative;
  padding: 20px 0 20px 326px;
  border: 1px solid #f3f3f3;
  background-color: #fff;


}

.site-logo-link {
  position: absolute;
  bottom: -10px;
  left: 10px;
}

.site-logo:hover {
  opacity: 0.8;
}

.site-logo:active {
  opacity: 0.6;
}

.header-end-inner {
  display: flex;
  align-items: center;
  text-align: center;

}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 195px;
}

.nav-item {
  margin-right: 55px;

}

.nav-item-link {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-item:first-child::before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 20px;
  height: 15px;
  background-image: url("./images/fish.svg");
  background-repeat: no-repeat;
}

.nav-item-link:hover {
  border-bottom: 3px solid yellow;
}

.nav-item-link:active {
  opacity: 0.6;
}

.question {
  position: relative;
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.question::before {
  content: "";
  position: absolute;
  left: -33px;
  width: 25px;
  height: 25px;
  background-image: url("./images/paw.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hero-inner {
  padding-top: 153px;
  padding-bottom: 106px;
  display: flex;
  justify-content: flex-end;
}

.hero-infos {
  width: 608px;
  margin-right: 40px;
  position: relative;
}

.hero-title {
  color: #333;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  margin-top: 0;
  margin-bottom: 20px;
}

.inner-title {
  color: #78c0de;
}

.desc-wrapper {
  width: 495px;
}

.hero-desc {
  margin-top: 0;
  margin-bottom: 38px;
  color: #949494;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.hero-link {
  display: inline-block;
  width: 181px;
  padding: 15px 20px;
  text-align: center;
  border-radius: 3px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: background-color 0.3s linear, color 0.3s linear;
}

.hero-link:hover {
  color: #333;
  background-color: #FFBD54;

}

.hero-link:active {
  background-color: #FFBD54;
  opacity: 0.6;
}


.hero {
  background-image: url("./images/animals.png"), url("./images/perrots.png");
  margin: 0 auto;
  background-position: calc(50% - 450px) calc(51% - 140px), calc(50% + 720px) calc(50% + 170px);
  background-repeat: no-repeat;
  height: 100vh;
}

.site-quote {
  padding-top: 155px;
  padding-bottom: 191px;
  margin: 0 auto;
}

.quote-inner {
  text-align: center;
  width: 753px;
  margin: 0 auto;
}

.quote-line {
  display: inline-block;
  width: 140px;
  border: 1px solid #dbdbdb;
  margin-bottom: 43px;

}

.second-line {
  display: inline-block;
  margin: 35px 0;

}

.quote {
  position: relative;
  margin: 0;
  color: #949494;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.quote::before {
  content: "";
  position: absolute;
  width: 65px;
  height: 60px;
  background-image: url("./images/quoteright.svg");
  background-repeat: no-repeat;
  background-size: contain;
  left: -110px;
  bottom: 60px;
}

.quote::after {
  content: "";
  position: absolute;
  width: 65px;
  height: 60px;
  background-image: url("./images/quoteleft.svg");
  background-repeat: no-repeat;
  background-size: contain;
  right: -110px;
  top: 25px;
}

.quote-author {
  color: #333;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.services {
  padding-bottom: 127px;
}

.service-title {
  color: #333;
  text-align: center;
  margin-top: 0;
  margin-bottom: 80px;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
}

.list-wrapper {
  margin: 0 auto;
}

.service-list {
  position: relative;
  width: 1223px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-right: 0;
  margin-bottom: 14px;
}

.service-list::before {
  content: "";
  position: absolute;
  left: -30px;
  width: 14px;
  height: 25px;
  background-image: url("./images/arrowleft.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.service-list::after {
  content: "";
  position: absolute;
  right: -20px;
  width: 14px;
  height: 25px;
  background-image: url("./images/arrowright.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.service-item {
  width: 193px;
  border-radius: 5px 5px 0px 0px;
  background-color: #fff;
  margin-right: 13px;
  padding: 30px 32px 28px 35px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #f3f3f3;
}

.service-item:hover {
  opacity: 0.8;
}

.service-item:active {
  opacity: 0.6;
}

.service-subheading {
  margin-top: 22px;
  margin-bottom: 0;
  color: #333;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.service-item:nth-child(4) .service-subheading {
  margin-top: 34px;
  padding-bottom: 11px;
}

.service-item:last-child .service-subheading {
  margin-top: 34px;
  padding-bottom: 11px;
}

.service-item:first-child .service-link::before {
  content: "";
  display: inline-block;
  width: 54px;
  height: 78px;
  background-image: url("./images/doctor.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.service-item:nth-child(2) .service-link::before {
  content: "";
  display: inline-block;
  width: 61px;
  height: 77px;
  background-image: url("./images/girl.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.service-item:nth-child(3) .service-link::before {
  content: "";
  display: inline-block;
  width: 72px;
  height: 78px;
  background-image: url("./images/dog.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.service-item:nth-child(4) .service-link::before {
  content: "";
  display: inline-block;
  width: 76px;
  height: 76px;
  background-image: url("./images/child.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.service-item:nth-child(5) .service-link::before {
  content: "";
  display: inline-block;
  width: 78px;
  height: 78px;
  background-image: url("./images/loop.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.service-item:last-child .service-link::before {
  content: "";
  display: inline-block;
  width: 76px;
  height: 76px;
  background-image: url("./images/dogs.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.experience {
  width: 1223px;
  border-radius: 0px 5px 5px 5px;
  background-color: #fff;
  padding: 41px 105px 74px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  position: relative;
}

.initial-exp {
  width: 492px;
}

.initial-exp::before {
  content: "";
  position: absolute;
  left: 28px;
  border-radius: 5px;
  background-image: url("./images/cat.png");
  width: 490px;
  height: 332px;
  background-repeat: no-repeat;
}

.initial-title {
  margin-top: 33px;
  margin-bottom: 18px;
  color: #333;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.initial-desc {
  color: #949494;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 9px;
  margin-top: 0;
}

.initial-links {
  padding-top: 25px;
  display: flex;
  align-items: center;
}

.initial-link:first-child {
  width: 185px;
  display: inline-block;
  padding: 15px 20px 15px 35px;
  border-radius: 3px;
  background-color: #ffbd54;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  display: inline-flex;
  align-items: center;
  margin-right: 21px;
  transition: background-color 0.3s linear, color 0.3s linear;
}

.initial-link:first-child:hover {
  color: #ffbd54;
  background-color: #333;
}

.initial-link:first-child:active {
  color: #ffbd54;
  background-color: #333;
  opacity: 0.6;
}


.initial-link:first-child::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  background-image: url("./images/money.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 7px;
}

.initial-link:last-child {
  width: 241px;
  display: inline-flex;
  border-radius: 3px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 15px 20px 15px 35px;
  text-align: center;
  margin-top: 0;
  transition: background-color 0.3s linear, color 0.3s linear;

}

.initial-link:last-child::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  background-image: url("./images/document.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 7px;
}

.initial-link:last-child:hover {
  color: #333;
  background-color: #FFBD54;

}

.initial-link:last-child:active {
  background-color: #FFBD54;
  opacity: 0.6;
}

.news {
  height: 481px;
  background-image: url("./images/bgdog.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: calc(50%);

}

.news-inner {
  padding-top: 240px;
  padding-bottom: 88px;
  margin-left: 287px;
}

.news-title {
  color: #fff;
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.news-form {
  display: flex;
  align-items: center;
}

.news-input {
  padding: 18px 22px 12px;
  width: 335px;
  border-radius: 5px;
  border: none;
  margin-right: 21px;
}

.news-btn {
  width: 188px;
  border-radius: 3px;
  background-color: #333;
  padding: 15px 20px 14px;
  text-align: center;
  border: none;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.articles-inner {
  padding-top: 151px;
  padding-bottom: 265px;
}

.article-title {
  margin-top: 0;
  margin-bottom: 80px;
  color: #333;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.article-list {
  display: flex;
  justify-content: center;
}

.article-item {
  width: 305px;
  border-radius: 5px;
  border: 1px solid #e4e4e2;
  margin-right: 24px;
}

.item-inner {
  padding-left: 30px;
  padding-top: 21px;
  padding-bottom: 37px;

}

.article-item::before {
  content: "";
  width: 305px;
  height: 180px;
  display: inline-flex;
  background-image: url("./images/kitten.png");
  background-size: contain;
  background-repeat: no-repeat;

}

.article-time {
  display: block;
  text-align: right;
  margin-right: 22px;
  margin-bottom: 2px;
  color: #949494;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.article-info-wrapper {
  width: 230px;
}

.article-subheading {
  color: #000;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

.article-desc {
  margin-top: 0;
  color: #949494;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.article-link {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  transition: color 0.3s linear;
}

.article-link::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 21px;
  background-image: url("./images/paw.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
}

.article-item:nth-child(2) {
  display: flex;
  width: 640px;
}

.article-item:nth-child(2) .item-inner {
  padding-left: 0;

}

.article-item:nth-child(2)::before {
  content: "";
  width: 305px;
  height: 435px;
  background-image: url("./images/garden.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin-right: 31px;
}

.infos-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 31px;
}

.infos {
  color: #3d9cea;
  text-align: center;
  font-family: Futura PT;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-right: 7px;
}

.infos-wrapper .article-time {
  margin-left: 60px;
  margin-right: 0;
}

.article-link:hover {
  color: #ffbd54;
}

.article-link:active {
  color: #333;
  opacity: 0.8;
}

.contact {
  padding-bottom: 247px;
}

.contact-inner {
  display: flex;

}

.contact-right {
  width: 1000px;
  background-image: url("./images/feedback-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #333;
  padding: 62px 166px 74px;

}

.contact-right-inner {
  width: 375px;
}

.contact-title {
  color: #fff;
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contact-desc {
  color: #949494;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 29px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-inp {
  padding: 16px 22px 13px;
  margin-bottom: 14px;
  border: none;
}

.contact-inp::placeholder {
  color: #949494;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  width: 375px;
  height: 165px;
  resize: none;
  margin-bottom: 30px;
}

.contact-btn {
  width: 226px;
  background-color: #ffbd54;
  padding: 15px 20px 14px;
  text-align: center;
  border: none;
}

.site-footer {
  padding-top: 54px;
  padding-bottom: 23px;
  border: 1px solid #ebebeb;
  background-color: #f3f3f3;
}

.footer-inner {
  display: flex;
  margin-bottom: 28px;
}

.footer-logo-link {
  margin-right: 57px;
}

.footer-services {
  display: flex;
  align-items: start;
}

.footer-list {
  margin-right: 87px;
}

.footer-list:last-child {
  margin-right: 157px;
}

.footer-item {

  margin-bottom: 14px;
}

.footer-link {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: color 0.3s linear;
}

.footer-link:hover {
  color: #ffbd54;
}

.footer-link:active {
  color: #333333b3;
}

.foooter-address-list {
  display: flex;
}

.foot-item:first-child {
  margin-right: 138px;
  width: 160px;
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
}

.foot-item:first-child::before {
  content: "";
  display: inline-block;
  margin-right: 14px;
  width: 16px;
  height: 16px;
  background-image: url("./images/schedule.svg");
  background-repeat: no-repeat;
}


.foot-item:nth-child(2)::before {
  content: "";
  display: inline-block;
  margin-right: 9px;
  width: 17px;
  height: 16px;
  background-image: url("./images/home.svg");
  background-repeat: no-repeat;
}

.foot-item:nth-child(2) {
  display: flex;
  align-items: start;
  margin-right: 112px;
}

.foot-link {
  display: inline-block;
  width: 157px;
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


.foot-item:last-child {
  width: 138px;
  display: flex;
  align-items: start;
}

.foot-item-link {
  color: #333;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.foot-item:last-child::before {
  content: "";
  display: inline-block;
  margin-right: 9px;
  width: 16px;
  height: 16px;
  background-image: url("./images/phone.svg");
  background-repeat: no-repeat;
}

.footer-author {
  display: block;
  text-align: right;
} */





/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: "FuturaPT";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/FuturaPT-Bold.woff") format("woff"),
    url("../fonts/FuturaPT-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "FuturaPT";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FuturaPT-Book.woff") format("woff"),
    url("../fonts/FuturaPT-Book.woff2") format("woff2");
}

@font-face {
  font-family: "FuturaPT";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/FuturaPT-Light.woff") format("woff"),
    url("../fonts/FuturaPT-Light.woff2") format("woff2");
}

@font-face {
  font-family: "FuturaPT";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/FuturaPT-Medium.woff") format('woff'),
    url("../fonts/FuturaPT-Medium.woff2") format("woff2");
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "FuturaPT";
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-color: #f9f9f9;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

img {
  display: block;
}

.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

.header-start {
  padding-left: 105px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.head-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.inner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item-link {
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.tel:hover {
  color: #ffbd54;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tel:active {
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.6;
}

.head-item:first-child::before {
  content: "";
  display: inline-block;
  margin-right: 9px;
  width: 14px;
  height: 13px;
  background-image: url("../images/home.svg");
  background-repeat: no-repeat;
}


.tel-list:before {
  content: "";
  display: inline-block;
  margin-right: 9px;
  width: 14px;
  height: 13px;
  background-image: url("../images/phone.svg");
  background-repeat: no-repeat;
}

.tel-item:first-child::after {
  content: "";
  display: inline-block;
  margin: 0 9px;
  width: 4px;
  height: 5px;
  background-image: url("../images/round.svg");
  background-repeat: no-repeat;
}

.tel-item:nth-child(2):after {
  content: "";
  display: inline-block;
  margin: 0 9px;
  width: 4px;
  height: 5px;
  background-image: url("../images/round.svg");
  background-repeat: no-repeat;
}

.schedule-list::before {
  content: "";
  display: inline-block;
  margin-right: 7px;
  width: 14px;
  height: 14px;
  background-image: url("../images/schedule.svg");
  background-repeat: no-repeat;
}

.schedule-item {
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.schedule-item:first-child {
  margin-right: 17px;
}

.header-end {
  position: relative;
  padding: 20px 0 20px 326px;
  border: 1px solid #f3f3f3;
  background-color: #fff;
}

.site-logo-link {
  position: absolute;
  bottom: -10px;
  left: 10px;
}

.site-logo:hover {
  opacity: 0.8;
}

.site-logo:active {
  opacity: 0.6;
}

.header-end-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: space-between; */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;

}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 195px;
}

.nav-item {
  margin-right: 55px;

}

.nav-item-link {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-item:first-child::before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 20px;
  height: 15px;
  background-image: url("../images/fish.svg");
  background-repeat: no-repeat;
}

.nav-item-link:hover {
  border-bottom: 3px solid #f4ffad;
}

.nav-item-link:active {
  opacity: 0.6;
}

.question {
  position: relative;
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.question::before {
  content: "";
  position: absolute;
  left: -33px;
  width: 25px;
  height: 25px;
  background-image: url("../images/paw.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hero-inner {
  /* background-image: url("../images/animals.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: calc(right 50%);  */
  padding-top: 153px;
  padding-bottom: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.hero-infos {
  width: 608px;
  margin-right: 40px;
  position: relative;
}

.hero-title {
  color: #333;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  margin-top: 0;
  margin-bottom: 20px;
}

.inner-title {
  color: #78c0de;
}

.desc-wrapper {
  width: 495px;
}

.hero-desc {
  margin-top: 0;
  margin-bottom: 38px;
  color: #949494;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.hero-link {
  display: inline-block;
  width: 181px;
  padding: 15px 20px;
  text-align: center;
  border-radius: 3px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  -webkit-transition: background-color 0.3s linear, color 0.3s linear;
  -o-transition: background-color 0.3s linear, color 0.3s linear;
  transition: background-color 0.3s linear, color 0.3s linear;
}

.hero-link:hover {
  color: #333;
  background-color: #FFBD54;

}

.hero-link:active {
  background-color: #FFBD54;
  opacity: 0.6;
}


.hero {
  background-image: url("../images/animals.png"), url("../images/perrots.png");
  margin: 0 auto;
  /* background-size: , 500px 430px; */
  background-position: calc(50% - 460px) calc(51% - 40px), calc(50% + 630px) calc(50% + 200px);
  background-repeat: no-repeat;
  height: 100vh;
}

.site-quote {
  /* padding-top: 155px; */
  padding-bottom: 191px;
  margin: 0 auto;
}

.quote-inner {
  text-align: center;
  width: 753px;
  margin: 0 auto;
}

.quote-line {
  display: inline-block;
  width: 140px;
  border: 1px solid #dbdbdb;
  margin-bottom: 43px;

}

.second-line {
  display: inline-block;
  margin: 35px 0;

}

.quote {
  position: relative;
  margin: 0;
  color: #949494;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.quote::before {
  content: "";
  position: absolute;
  width: 65px;
  height: 60px;
  background-image: url("../images/quoteright.svg");
  background-repeat: no-repeat;
  background-size: contain;
  left: -110px;
  bottom: 60px;
}

.quote::after {
  content: "";
  position: absolute;
  width: 65px;
  height: 60px;
  background-image: url("../images/quoteleft.svg");
  background-repeat: no-repeat;
  background-size: contain;
  right: -110px;
  top: 25px;
}

.quote-author {
  color: #333;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.services {
  padding-bottom: 127px;
}

.service-title {
  color: #333;
  text-align: center;
  margin-top: 0;
  margin-bottom: 80px;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
}

.list-wrapper {
  margin: 0 auto;
}

.service-list {
  position: relative;
  width: 1223px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: space-around; */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  padding-right: 0;
  margin-bottom: 14px;
  /* text-align: center; */
}

.service-list::before {
  content: "";
  position: absolute;
  left: -30px;
  width: 14px;
  height: 25px;
  background-image: url("../images/arrowleft.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.service-list::after {
  content: "";
  position: absolute;
  right: -20px;
  width: 14px;
  height: 25px;
  background-image: url("../images/arrowright.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.service-item {
  width: 193px;
  border-radius: 5px 5px 0px 0px;
  background-color: #fff;
  margin-right: 13px;
  padding: 30px 32px 28px 35px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #f3f3f3;
}

.service-item:hover {
  opacity: 0.8;
}

.service-item:active {
  opacity: 0.6;
}

/* .service-link {
  color: #333;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
} */
.service-subheading {
  margin-top: 22px;
  margin-bottom: 0;
  color: #333;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.service-item:nth-child(4) .service-subheading {
  margin-top: 34px;
  padding-bottom: 11px;
}

.service-item:last-child .service-subheading {
  margin-top: 34px;
  padding-bottom: 11px;
}

.service-item:first-child .service-link::before {
  content: "";
  display: inline-block;
  width: 54px;
  height: 78px;
  background-image: url("../images/doctor.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.service-item:nth-child(2) .service-link::before {
  content: "";
  display: inline-block;
  width: 61px;
  height: 77px;
  background-image: url("../images/girl.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.service-item:nth-child(3) .service-link::before {
  content: "";
  display: inline-block;
  width: 72px;
  height: 78px;
  background-image: url("../images/dog.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.service-item:nth-child(4) .service-link::before {
  content: "";
  display: inline-block;
  width: 76px;
  height: 76px;
  background-image: url("../images/child.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.service-item:nth-child(5) .service-link::before {
  content: "";
  display: inline-block;
  width: 78px;
  height: 78px;
  background-image: url("../images/loop.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.service-item:last-child .service-link::before {
  content: "";
  display: inline-block;
  width: 76px;
  height: 76px;
  background-image: url("../images/dogs.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.experience {
  width: 1223px;
  border-radius: 0px 5px 5px 5px;
  background-color: #fff;
  padding: 41px 105px 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0 auto;
  position: relative;
}

.initial-exp {
  width: 492px;
}

.initial-exp::before {
  content: "";
  position: absolute;
  left: 28px;
  border-radius: 5px;
  background-image: url("../images/cat.png");
  width: 490px;
  height: 332px;
  background-repeat: no-repeat;
}

.initial-title {
  margin-top: 33px;
  margin-bottom: 18px;
  color: #333;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.initial-desc {
  color: #949494;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 9px;
  margin-top: 0;
}

.initial-links {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.initial-link:first-child {
  width: 185px;
  display: inline-block;
  padding: 15px 20px 15px 35px;
  border-radius: 3px;
  background-color: #ffbd54;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 21px;
  -webkit-transition: background-color 0.3s linear, color 0.3s linear;
  -o-transition: background-color 0.3s linear, color 0.3s linear;
  transition: background-color 0.3s linear, color 0.3s linear;
}

.initial-link:first-child:hover {
  color: #ffbd54;
  background-color: #333;
}

.initial-link:first-child:active {
  color: #ffbd54;
  background-color: #333;
  opacity: 0.6;
}


.initial-link:first-child::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  background-image: url("../images/money.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 7px;
}

.initial-link:last-child {
  width: 241px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 3px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 15px 20px 15px 35px;
  text-align: center;
  margin-top: 0;
  -webkit-transition: background-color 0.3s linear, color 0.3s linear;
  -o-transition: background-color 0.3s linear, color 0.3s linear;
  transition: background-color 0.3s linear, color 0.3s linear;

}

.initial-link:last-child::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  background-image: url("../images/document.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 7px;
}

.initial-link:last-child:hover {
  color: #333;
  background-color: #FFBD54;

}

.initial-link:last-child:active {
  background-color: #FFBD54;
  opacity: 0.6;
}

.news {
  height: 481px;
  background-image: url("../images/bgdog.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: calc(50%);

}

.news-inner {
  padding-top: 240px;
  padding-bottom: 88px;
  margin-left: 287px;
}

.news-title {
  color: #fff;
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.news-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.news-input {
  padding: 18px 22px 12px;
  width: 335px;
  border-radius: 5px;
  border: none;
  margin-right: 21px;
}

.news-btn {
  width: 188px;
  border-radius: 3px;
  background-color: #333;
  padding: 15px 20px 14px;
  text-align: center;
  border: none;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.articles-inner {
  padding-top: 151px;
  padding-bottom: 265px;
}

.article-title {
  margin-top: 0;
  margin-bottom: 80px;
  color: #333;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.article-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.article-item {
  width: 305px;
  border-radius: 5px;
  border: 1px solid #e4e4e2;
  margin-right: 24px;
  /* position: relative; */
}

.item-inner {
  padding-left: 30px;
  padding-top: 21px;
  padding-bottom: 37px;

}

.article-item::before {
  content: "";
  width: 305px;
  height: 180px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* position: absolute; */
  background-image: url("../images/kitten.png");
  background-size: contain;
  background-repeat: no-repeat;

}

.article-time {
  display: block;
  text-align: right;
  margin-right: 22px;
  margin-bottom: 2px;
  color: #949494;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.article-info-wrapper {
  width: 230px;
}

.article-subheading {
  color: #000;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

.article-desc {
  margin-top: 0;
  color: #949494;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.article-link {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.article-link::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 21px;
  background-image: url("../images/paw.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
}

.article-item:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 640px;
}

.article-item:nth-child(2) .item-inner {
  padding-left: 0;

}

.article-item:nth-child(2)::before {
  content: "";
  width: 305px;
  height: 435px;
  background-image: url("../images/garden.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin-right: 31px;
}

.infos-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 31px;
}

.infos {
  color: #3d9cea;
  text-align: center;
  font-family: Futura PT;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
  margin-right: 7px;
}

.infos-wrapper .article-time {
  margin-left: 60px;
  margin-right: 0;
}

.article-link:hover {
  color: #ffbd54;
}

.article-link:active {
  color: #333;
  opacity: 0.8;
}

.contact {
  padding-bottom: 247px;
}

.container-contact {
  width: 1503px;
  margin: 0 auto;
  padding: 0 20px;

}

.contact-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.contact-right {
  width: 1000px;
  background-image: url("../images/feedback-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #333;
  padding: 62px 166px 74px;

}

.contact-right-inner {
  width: 375px;
}

.contact-title {
  color: #fff;
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contact-desc {
  color: #949494;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 29px;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contact-inp {
  padding: 16px 22px 13px;
  margin-bottom: 14px;
  border: none;
}

.contact-inp::-webkit-input-placeholder {
  color: #949494;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-inp::-moz-placeholder {
  color: #949494;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-inp:-ms-input-placeholder {
  color: #949494;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-inp::-ms-input-placeholder {
  color: #949494;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-inp::placeholder {
  color: #949494;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  width: 375px;
  height: 165px;
  resize: none;
  margin-bottom: 30px;
}

.contact-btn {
  width: 226px;
  background-color: #ffbd54;
  padding: 15px 20px 14px;
  text-align: center;
  border: none;
}

.site-footer {
  padding-top: 54px;
  padding-bottom: 23px;
  border: 1px solid #ebebeb;
  background-color: #f3f3f3;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  margin-bottom: 28px;
}

.footer-logo-link {
  margin-right: 57px;
}

.footer-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items: flex-start; */
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.footer-list {
  margin-right: 85px;
}

.footer-list:last-child {
  margin-right: 127px;
}

.footer-item {
  width: 96px;
  margin-bottom: 14px;
}

.footer-link {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.footer-link:hover {
  color: #ffbd54;
}

.footer-link:active {
  color: #333333b3;
}

.foooter-address-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foot-item:first-child {
  margin-right: 112px;
  width: 160px;
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foot-item:first-child::before {
  content: "";
  display: inline-block;
  margin-right: 14px;
  width: 16px;
  height: 16px;
  background-image: url("../images/schedule.svg");
  background-repeat: no-repeat;
}


.foot-item:nth-child(2)::before {
  content: "";
  display: inline-block;
  margin-right: 9px;
  width: 17px;
  height: 16px;
  background-image: url("../images/home.svg");
  background-repeat: no-repeat;
}

.foot-item:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  margin-right: 87px;
}

.foot-link {
  display: inline-block;
  width: 157px;
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


.foot-item:last-child {
  width: 138px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.foot-item-link {
  color: #333;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.foot-item:last-child::before {
  content: "";
  display: inline-block;
  margin-right: 9px;
  width: 16px;
  height: 16px;
  background-image: url("../images/phone.svg");
  background-repeat: no-repeat;
}

.footer-author {
  display: block;
  text-align: right;
}

/* CONTACT SECTION START */

.contact-intro-wrapper {
  padding: 118px 0 130px;
}

.contact-intro-inner {
  width: 447px;
}

.contact-intro-title {
  margin-top: 0;
  margin-bottom: 27px;
  color: #333;
  font-size: 70px;
  font-weight: 700;
  line-height: 64px;
}

.contact-intro-desc {
  margin-top: 0;
  margin-bottom: 117px;
  color: #949494;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.contact-list {
  display: flex;
}

.contact-item {
  width: 153px;
  display: flex;
  flex-direction: column;
}

.contact-item:first-child {
  margin-right: 118px;
}

.contact-item:nth-child(2) {
  width: 134px;
  margin-right: 121px;
}

.contact-item-link {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contact-item:first-child .contact-item-link::before {
  content: '';
  display: inline-block;
  width: 73px;
  height: 73px;
  margin-bottom: 30px;
  background-image: url("../contact-images/location.svg");
  background-repeat: no-repeat;
}

.contact-item:nth-child(2) .schedule-time:first-child::before {
  content: '';
  display: inline-block;
  width: 76px;
  height: 72px;
  margin-bottom: 27px;
  background-image: url("../contact-images/calendar.svg");
  background-repeat: no-repeat;
}

.contact-item:last-child .contact-item-link:first-child:before {
  content: '';
  display: inline-block;
  width: 46px;
  height: 73px;
  margin-bottom: 27px;
  background-image: url("../contact-images/phone.svg");
  background-repeat: no-repeat;
}

.contact-intro {
  background-position: calc(50% + 450px);
  background-image: url("../contact-images/article-hero-bg.png");
  background-repeat: no-repeat;
}

.contact-search {
  /* position: relative; */
  background-image: url("../contact-images/article-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
}

.contact-search-inner {
  padding-top: 280px;
  padding-bottom: 100px;
  text-align: center;
}

.contact-search-link {
  color: #333;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.maps-inner {
  display: flex;
  padding-bottom: 260px;
  margin-top: -50px;
}

.maps {
  width: 1440px;
  margin: 0 auto;
}

/* FAQ */
.faq-body {
  background-image: url("../faq-images/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.faq-hero-wrapper {
  padding: 118px 0 177px;
}

.faq-hero-inner {
  width: 447px;
}

.faq-hero-title {
  margin-top: 0;
  margin-bottom: 27px;
  color: #333;
  font-size: 70px;
  font-weight: 700;
  line-height: 64px;
}

.faq-hero-desc {
  margin-top: 0;
  margin-bottom: 36px;
  color: #949494;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.faq-hero-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px 14px;
  width: 201px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  border-radius: 3px;
  background: #78c0de;
}

.faq-hero-link::before {
  content: '';
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 6px;
  background-image: url("../images/document.svg");
  background-repeat: no-repeat;
}

.faq-hero {
  background-image: url("../faq-images/faq-cat-bg.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 500px) calc(50% + 30px);
  background-size: 569px 466px;
}

.faq-infos {

  background-image: url("../faq-images/parrot.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 500px) calc(50% + 250px);
  box-sizing: 654px 640px;
}

.faq-infos-inner {
  padding-bottom: 270px;
}

.faq-infos-item {
  width: 752px;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  background-color: #fff;
  background-image: url("../faq-images/faq-arrow.svg");
  background-repeat: no-repeat;
  background-position: calc(93%);
}


.faq-infos-item:not(:last-child) {
  margin-bottom: 18px;
}

.faq-infos-item:nth-child(odd) {
  padding: 26px 150px 32px 63px;
}

.faq-infos-item:nth-child(even) {
  padding: 23px 139px 32px 63px;
}

.faq-infos-head {
  display: flex;
  align-items: center;

}

.faq-infos-item:nth-child(odd) .faq-infos-time::before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 20px;
  background-image: url("../faq-images/faq-orange-paw.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.faq-infos-item:nth-child(even) .faq-infos-time::before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 20px;
  background-image: url("../faq-images/faq-blue-paw.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.faq-infos-time {
  margin-right: 28px;
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.faq-infos-name {
  color: #78c0de;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

.faq-infos-subtitle {
  color: #333;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.faq-infos-item:nth-child(3),
.faq-infos-item:last-child {
  opacity: 0.7;
  background-image: url("../faq-images/clock.svg");
  background-repeat: no-repeat;
  background-position: calc(93%);
}


/* SERVICES START */
.services-hero {
  background-image: url("../services-images/services-parrot.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 450px);
  background-size: 435px 435px;
}

.services-wrapper {
  padding: 118px 0 140px;
}

.services-inner {
  width: 447px;
}

.services-title {
  margin-top: 0;
  margin-bottom: 21px;
  color: #333;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}

.services-desc {
  color: #949494;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.services-part-inner {
  padding-bottom: 169px;
}

.services-part-list {
  display: flex;
  flex-wrap: wrap;
  gap: 34px 30px;
}

.services-part-item {
  width: 305px;
  padding: 57px 25px 45px 53px;
  border-radius: 5px 5px 0px 0px;
  background-color: #fff;
  background-image: url("../services-images/pet-paw.svg");
  background-repeat: no-repeat;
  background-size: 150px 150px;
  background-position: calc(50% + 85px) calc(50% - 140px);
}

.services-part-item:first-child::before {
  content: '';
  display: inline-block;
  width: 54px;
  height: 77px;
  margin-bottom: 22px;
  background-image: url("../images/doctor.svg");
  background-repeat: no-repeat;
}

.services-part-item:nth-child(2)::before {
  content: '';
  display: inline-block;
  width: 61px;
  height: 77px;
  margin-bottom: 22px;
  background-image: url("../images/girl.svg");
  background-repeat: no-repeat;
}

.services-part-item:nth-child(3)::before {
  content: '';
  display: inline-block;
  width: 72px;
  height: 77px;
  margin-bottom: 22px;
  background-image: url("../images/dog.svg");
  background-repeat: no-repeat;
}

.services-part-item:nth-child(4)::before {
  content: '';
  display: inline-block;
  width: 76px;
  height: 76px;
  margin-bottom: 22px;
  background-image: url("../images/child.svg");
  background-repeat: no-repeat;
}

.services-part-item:nth-child(5)::before {
  content: '';
  display: inline-block;
  width: 78px;
  height: 78px;
  margin-bottom: 22px;
  background-image: url("../images/loop.svg");
  background-repeat: no-repeat;
}

.services-part-item:nth-child(6)::before {
  content: '';
  display: inline-block;
  width: 76px;
  height: 76px;
  margin-bottom: 22px;
  background-image: url("../images/dogs.svg");
  background-repeat: no-repeat;
}

.services-part-item:nth-child(7)::before {
  content: '';
  display: inline-block;
  width: 77px;
  height: 77px;
  margin-bottom: 22px;
  background-image: url("../services-images/bone.svg");
  background-repeat: no-repeat;
}

.services-part-item:nth-child(8)::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 76px;
  margin-bottom: 22px;
  background-image: url("../services-images/injection.svg");
  background-repeat: no-repeat;
}

.services-part-item:nth-child(9)::before {
  content: '';
  display: inline-block;
  width: 87px;
  height: 78px;
  margin-bottom: 22px;
  background-image: url("../services-images/animal-passport.svg");
  background-repeat: no-repeat;
}

.services-part-item:nth-child(10)::before {
  content: '';
  display: inline-block;
  width: 68px;
  height: 76px;
  margin-bottom: 22px;
  background-image: url("../services-images/medicines.svg");
  background-repeat: no-repeat;
}

.services-part-item:nth-child(11)::before {
  content: '';
  display: inline-block;
  width: 78px;
  height: 78px;
  margin-bottom: 22px;
  background-image: url("../services-images/teeth.svg");
  background-repeat: no-repeat;
}

.services-part-item:last-child::before {
  content: '';
  display: inline-block;
  width: 76px;
  height: 76px;
  margin-bottom: 22px;
  background-image: url("../services-images/medicine-bag.svg");
  background-repeat: no-repeat;
}
.services-part-item:hover {
  box-shadow: 1px 1px 15px #e4e4e4;
  transition: box-shadow 0.5s;
}
.services-part-subtitle {
  margin-top: 0;
  margin-bottom: 14px;
  color: #333;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
}

.services-part-desc {
  margin-top: 0;
  margin-bottom: 26px;
  color: #949494;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.services-part-link {
  display: inline-block;
  width: 156px;
  padding: 15px 20px 14px;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;

}

.services-part-item:nth-child(odd) .services-part-link {
  background-color: #ffbd54;
}

.services-part-item:nth-child(even) .services-part-link {
  background-color: #78c0de;
}
.services-part-link:hover {
  background-color: #000;
  cursor: context-menu;
}